;; shadow-cljs configuration
{
 ;; where the source files are located
 :source-paths ["src"]

 ;; setup the nrepl server to use for development
 :nrepl {:port 9000}

 ;; clojure dependencies. npm dependencies can be manage via package.json
 :dependencies [[nrepl "0.8.3"]
                [binaryage/devtools "1.0.2"]
                [cider/piggieback "0.4.0"]
                [cider/cider-nrepl "0.25.5"]
                [org.clojure/clojure "1.10.0"]
                [org.clojure/clojurescript "1.10.339"]
                [hoplon/hoplon             "7.2.0"]]

 :dev-http {9090 "target/"}

 ;; can have multiple builds here
 :builds {:app {:output-dir "target/"
                :asset-path "."
                :target     :browser
                ;; hoplon here is what the file name will be
                ;; main.index/main relates to your src folder structure
                :modules    {:hoplon {:init-fn main.index/main}}
                ;; allows us to use the binaryage/devtools package to have better console message in chrome dev-tools
                :devtools   {:after-load main.index/init!
                             :http-root  "target"
                             :http-port  9090}}}
 }
